---
layout: default
title: Applet Tests
---

<p>Applets don't work the same in all browsers. I haven't found a good source of tests or
documentation on this. Hopefully this site will fill that gap.</p>

<p>Frankly I'd avoid applets if I could. They don't work on mobile browsers,
and with the recent security issues more and more people have them disabled. But sometimes
applets are a necessary evil.</p>

<h3>Pages with tests</h3>
<ul>
  {% for page in site.html_pages %}
    {% if page.title and page.show_in_toc %}
      <li><a href="{{site.baseurl}}{{ page.url | remove:'index.html' }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<h3>Pages documenting issues without tests</h3>
<ul>
  {% for page in site.html_pages %}
    {% if page.title and page.show_in_todos %}
      <li><a href="{{site.baseurl}}{{ page.url | remove:'index.html' }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
