---
layout: default
title: Welcome
---

Tests of applets that expose issues in various browsers.

<h3>Pages with tests</h3>
<ul>
  {% for page in site.html_pages %}
    {% if page.title and page.show_in_toc %}
      <li><a href="{{site.baseurl}}{{ page.url | remove:'index.html' }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<h3>Pages documenting issues without tests</h3>
<ul>
  {% for page in site.html_pages %}
    {% if page.title and page.show_in_todos %}
      <li><a href="{{site.baseurl}}{{ page.url | remove:'index.html' }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
